

/*
The styles for the modal class makes it so that it creates a semi-transparent 
dark background color behind the modal when it is active. 
We stretch it to 100% width and  height and set its visibility 
to hidden so that it doesn't appear.
*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}


/*
Then with the modal-content class, we position the actual modal in the center
of the screen, with some visual goodies like a border-radius and
some padding. */

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

/*
To allow us to close the modal in an elegant way, we have a close button
that is just a nicely styled X button at the top-right corner of the modal. */

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}

/*
Finally, we have our class that handles styling the modal when it's opened. */
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}